---
import Page from "../layouts/page.astro";

import Textorlink from "../components/textorlink.astro";
import Row from "../components/row.astro";

const headers = [
  { type: "text", content: "BLOG" },
  { type: "text", content: "" },
  { type: "link", content: "CLOSE", href: "/" },
];

const posts: Record<string, any>[] = Object.values(
  import.meta.glob("./archive/*.mdx", { eager: true })
);
---

<Page>
  <Fragment slot="header">
    {
      headers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>
  <Fragment slot="main">
    <section class="">
      <div
        class="w-full md:w-48 md:max-w-full flex flex-col justify-center gap-2"
      >
        {
          posts.map((post) => (
            <Row>
              <Fragment slot="key">
                {new Date(post.frontmatter.date).toLocaleDateString()}
              </Fragment>
              <Fragment slot="value">
                <p class="uppercase">
                  <a href={post.url}>{post.frontmatter.title}</a>
                </p>
              </Fragment>
            </Row>
          ))
        }
      </div>
    </section>
  </Fragment>
</Page>
