---
import { getCollection } from "astro:content";

import FeedItem from "../components/FeedItem.astro";
import Textorlink from "../components/textorlink.astro";
import Page from "../layouts/page.astro";
import { renderHighlightsHtml } from "../lib/feed";

const archiveEntries = (await getCollection("readwise-archive")).sort(
	(a, b) => b.data.last_moved_at.getTime() - a.data.last_moved_at.getTime()
);

const highlightHtmlById = await renderHighlightsHtml(
	archiveEntries.map((e) => e.data)
);
---

<Page title="Reading Archive">
	<Fragment slot="header">
		<Textorlink content="READING ARCHIVE" />
	</Fragment>
	<Fragment slot="main">
		<div class="archive_wrapper" id="archive-wrapper">
			<div class="feed">
				{
					archiveEntries.map((item) => (
						<FeedItem
							readwiseId={item.data.readwise_id}
							title={item.data.title}
							url={item.data.url}
							summary={item.data.summary}
							category={item.data.category}
							author={item.data.author}
							dateGroup={item.data.dateGroup}
							highlights={item.data.highlights}
							highlightsHtml={highlightHtmlById.get(item.data.readwise_id) ?? []}
							paneIdPrefix="archive"
						/>
					))
				}
			</div>
		</div>
	</Fragment>
</Page>
