---
import Page from "../layouts/page.astro";

import Textorlink from "../components/textorlink.astro";
import Row from "../components/row.astro";

const headers = [
  { type: "text", content: "BLOG" },
  { type: "link", content: "CLOSE", href: "/" },
];

const posts: Record<string, any>[] = Object.values(
  import.meta.glob("./archive/*.md", { eager: true })
);
---

<Page title="Blog">
  <Fragment slot="header">
    {
      headers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>
  <Fragment slot="main">
    <div class="archive_main">
      {
        posts
          .sort((a, b) => {
            const dateA = new Date(a.frontmatter.date);
            const dateB = new Date(b.frontmatter.date);
            return dateB.getTime() - dateA.getTime();
          })
          .map((post) => (
            <Row>
              <Fragment slot="key">
                {new Date(post.frontmatter.date)
                  .toLocaleDateString("en-GB", {
                    day: "2-digit",
                    month: "numeric",
                    year: "numeric",
                  })
                  .replace(/\//g, ".")}
              </Fragment>
              <Fragment slot="value">
                <p class="uppercase font-medium">
                  <a href={post.url}>{post.frontmatter.title}</a>
                </p>
              </Fragment>
            </Row>
          ))
      }
    </div>
  </Fragment>
</Page>
