---
import "../styles/blogroll.css";

import Homepage from "../components/homepage.astro";
import Textorlink from "../components/textorlink.astro";

import { Omnivore } from "@omnivore-app/api";

const OMNIVORE_API_URL = "https://api-prod.omnivore.app/api/graphql";
const OMNIVORE_API_KEY = "2b6ef701-27a9-4fe6-9ec2-994d0b6f2e8a"; // Replace with your actual API key
const omnivore = new Omnivore({
  apiKey: OMNIVORE_API_KEY,
  baseUrl: OMNIVORE_API_URL,
});

const data = await omnivore.items.search({
  after: 0,
  first: 1000,
  query: "in:archive",
});
const articles = data.edges.map((edge) => edge.node);

const headers = [
  { type: "text", content: "TEJAS SANAP" },
  { type: "text", content: "BLOGROLL" },
  { type: "link", content: "CLOSE", href: "/" },
];
---

<Homepage>
  <Fragment slot="header">
    {
      headers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>
  <Fragment slot="main">
    <div class="readinglist">
      <ul>
        {
          articles.map((article) => (
            <li>
              <a href={article.url} target="_blank" rel="noopener noreferrer">
                {article.title}
              </a>
              {/* <p>{article.description}</p> */}
              <p>{new Date(article.savedAt).toLocaleDateString()}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </Fragment>
</Homepage>
