---
import { getCollection } from "astro:content";

import FeedItem from "../components/FeedItem.astro";
import Textorlink from "../components/textorlink.astro";
import Page from "../layouts/page.astro";
import { renderHighlightsHtml } from "../lib/feed";

const queueEntries = (await getCollection("readwise-queue")).sort((a, b) => {
	const aTime = (a.data.last_highlighted_at ?? a.data.last_moved_at).getTime();
	const bTime = (b.data.last_highlighted_at ?? b.data.last_moved_at).getTime();
	return bTime - aTime;
});

const highlightHtmlById = await renderHighlightsHtml(
	queueEntries.map((e) => e.data)
);
---

<Page title="Reading Inbox">
	<Fragment slot="header">
		<Textorlink content="READING INBOX" />
	</Fragment>
	<Fragment slot="main">
		<div class="feed">
			{
				queueEntries.map((item) => (
					<FeedItem
						readwiseId={item.data.readwise_id}
						title={item.data.title}
						url={item.data.url}
						summary={item.data.summary}
						category={item.data.category}
						author={item.data.author}
						dateGroup={item.data.dateGroup}
						highlights={item.data.highlights}
						highlightsHtml={highlightHtmlById.get(item.data.readwise_id) ?? []}
						paneIdPrefix="inbox"
					/>
				))
			}
		</div>
	</Fragment>
</Page>
