---
import { Picture } from "astro:assets";

import "../styles/global.css";

import Image1 from "../assets/Image1.jpg";
import Image2 from "../assets/Image2.jpg";
import Image3 from "../assets/Image3.jpg";

const slides = [
  { image: Image1, caption: "Potter in Pench, Madhya Pradesh" },
  { image: Image2, caption: "Never waste time" },
  { image: Image3, caption: "Ride into the darkness" },
];
---

<html>
  <head>
    <title>Tejas Sanap | Portfolio</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,interactive-widget=resizes-content"
    />
  </head>
  <body>
    <header>
      <div>
        <h1>TEJAS SANAP</h1>
      </div>
      <div>
        <h1>PROGRAMMER, ENGINEER, PHOTOGRAPHER</h1>
      </div>
      <div>
        <h1><a href="/info">INFO</a></h1>
      </div>
    </header>

    <main>
      <div class="carousel">
        <div class="slides-wrapper">
          <div class="left-scroll"></div>
          <div class="right-scroll"></div>
          <div class="slides">
            {
              slides.map(({ image, caption: _ }, idx) => (
                <div class="slide">
                  <div class="slide-inner">
                    <Picture src={image} alt="" />
                  </div>
                  <div class="caption">
                    <span>
                      {idx + 1}/{slides.length}
                    </span>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
        <div class="captions">
          {
            slides.map(({ image: _, caption }, idx) => (
              <div class="caption">
                <span>{caption}</span>
                <span>
                  {idx + 1}/{slides.length}
                </span>
              </div>
            ))
          }
        </div>
      </div>
    </main>

    <footer>
      <div>
        <h1>
          <a href="https://www.instagram.com/whereistejas">INSTAGRAM</a>
        </h1>
      </div>
      <div>
        <h1>
          <a href="mailto:email@whereistejas.xyz">SEND AN EMAIL</a>
        </h1>
      </div>
    </footer>

    <script>
      function modulo(number: number, mod: number) {
        let result = number % mod;
        if (result < 0) {
          result += mod;
        }
        return result;
      }

      let carousel = document.querySelector(".carousel") as HTMLDivElement;

      let currentSlide = 0;
      const numSlides = (document.querySelector(".slides") as HTMLDivElement)
        .children.length;

      let left = document.querySelector(".left-scroll");
      let right = document.querySelector(".right-scroll");
      if (left && right) {
        left.addEventListener("click", function (e) {
          e.preventDefault();
          currentSlide = modulo(currentSlide - 1, numSlides);
          carousel.style.setProperty("--current-slide", `${currentSlide}`);
        });
        right.addEventListener("click", function (e) {
          e.preventDefault();
          currentSlide = modulo(currentSlide + 1, numSlides);
          carousel.style.setProperty("--current-slide", `${currentSlide}`);
        });
      } else {
      }
    </script>
  </body>
</html>
