---
import "../styles/info.css";

import Row from "../components/row.astro";
import Textorlink from "../components/textorlink.astro";
import Page from "../layouts/page.astro";

const headers = [
  { type: "text", content: "TEJAS SANAP" },
  { type: "text", content: "INFO" },
  { type: "link", content: "CLOSE", href: "/" },
];
const footers = [
  { type: "text", content: "" },
  { type: "text", content: "" },
  {
    type: "link",
    content: "SEND AN EMAIL",
    href: "mailto:email@whereistejas.xyz",
  },
];
---

<Page>
  <Fragment slot="header">
    {
      headers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>

  <Fragment slot="main">
    <section class="info">
      <div class="info-inner">
        <Row key="Profile">
          <p>
            I'm a software engineer and photographer based in London, UK. I'm a
            generalist programmer who codes in Rust. I am an avid reader and am
            currently reading "The Gene" by Siddharth Mukherjee.
          </p>
        </Row>
        <Row key="Things I believe">
          <p>All software is a tool, a means to an end.</p>
          <p>A good tool is simple and intuitive to use.</p>
          <p>Software is made "for" humans.</p>
        </Row>
        <Row key="Experience">
          <p>
            <a href="https://tably.com">Tably</a>, 2021&mdash;Present
          </p>
          <p>
            <a href="https://wipro.com">Wipro</a>, 2019&mdash;2021
          </p>
        </Row>
        <Row key="Education">
          <p>
            Bachelors in Mechanical Engineering, <a
              href="https://www.unipune.ac.in">SPPU</a
            >, 2016&mdash;2019
          </p>
        </Row>
        <Row key="Elsewhere">
          <p>
            <a href="https://www.linkedin.com/in/whereistejas">Linkedin</a>,
            <a href="https://www.github.com/whereistejas">Github</a>,
            <a href="https://www.x.com/whereistejas">X</a>,
            <a href="https://www.instagram.com/whereistejas">Instagram</a>,
            <a href="https://www.are.na/whereistejas">Are.na</a>
          </p>
        </Row>
      </div>
    </section>
  </Fragment>

  <Fragment slot="footer">
    {
      footers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>
</Page>
