---
import "../styles/global.css";

import Row from "../components/row.astro";
import Textorlink from "../components/textorlink.astro";
import Page from "../layouts/page.astro";

const headers = [
  { type: "text", content: "TEJAS SANAP" },
  { type: "text", content: "INFO" },
  { type: "link", content: "CLOSE", href: "/" },
];
const footers = [
  { type: "text", content: "" },
  { type: "text", content: "" },
  {
    type: "link",
    content: "SEND AN EMAIL",
    href: "mailto:email@whereistejas.xyz",
  },
];
---

<Page flex_start={false}>
  <Fragment slot="header">
    {
      headers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>

  <Fragment slot="main">
    <section class="">
      <div
        class="w-full md:w-48 md:max-w-full
      flex flex-col justify-center gap-2"
      >
        <Row>
          <Fragment slot="key">Profile</Fragment>
          <Fragment slot="value">
            <p class="font-serif">
              I'm a software engineer and photographer based in London, UK. I am
              an avid reader, currently reading
              <a href="https://www.goodreads.com/book/show/27276428-the-gene">
                <em>The Gene</em>
              </a>
              by Siddhartha Mukherjee.
            </p>
          </Fragment>
        </Row>
        <Row>
          <Fragment slot="key">Beliefs</Fragment>
          <Fragment slot="value">
            <p class="font-serif">
              Software is made <em>for</em> humans.
            </p>
            <p class="font-serif">
              <em>All</em> software is a tool.
            </p>
            <p class="font-serif">
              Good tools are <em>simple</em> and <em>intuitive</em>.
            </p>
          </Fragment>
        </Row>
        <Row>
          <Fragment slot="key">Experience</Fragment>
          <Fragment slot="value">
            <p class="font-serif">
              <a href="https://tably.com">Tably</a>, 2021&mdash;Present
            </p>
            <p class="font-serif">
              <a href="https://wipro.com">Wipro</a>, 2019&mdash;2021
            </p>
          </Fragment>
        </Row>
        <Row>
          <Fragment slot="key">Education</Fragment>
          <Fragment slot="value">
            <p class="font-serif">
              Bachelors in Mechanical Engineering, <a
                href="https://www.unipune.ac.in">SPPU</a
              >, 2016&mdash;2019
            </p>
          </Fragment>
        </Row>
        <Row>
          <Fragment slot="key">Elsewhere</Fragment>
          <Fragment slot="value">
            <p class="font-serif">
              <a href="https://www.linkedin.com/in/whereistejas">Linkedin</a>,
              <a href="https://www.github.com/whereistejas">Github</a>,
              <a href="https://www.x.com/whereistejas">X</a>,
              <a href="https://www.instagram.com/whereistejas">Instagram</a>,
              <a href="https://www.are.na/whereistejas">Are.na</a>
            </p>
          </Fragment>
        </Row>
      </div>
    </section>
  </Fragment>

  <Fragment slot="footer">
    {
      footers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>
</Page>
