---
import Row from "../components/row.astro";
import Textorlink from "../components/textorlink.astro";
import Page from "../layouts/page.astro";

const headers = [
  { type: "text", content: "INFO" },
  { type: "link", content: "CLOSE", href: "/" },
];
const footers = [
  { type: "text", content: "" },
  {
    type: "link",
    content: "SEND AN EMAIL",
    href: "mailto:email@whereistejas.xyz",
  },
];
---

<Page flex_start={false} title="Info">
  <Fragment slot="header">
    {
      headers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>

  <Fragment slot="main">
    <div
      class="h-full first:pt-1.5 md:first:pt-0 flex flex-col gap-1.5 md:gap-2"
    >
      <Row>
        <Fragment slot="key">Profile</Fragment>
        <Fragment slot="value">
          <p>
            I'm a software engineer and photographer based in London, UK. I am
            an avid reader, currently reading
            <span class="italic">
              <a href="https://www.goodreads.com/book/show/27276428-the-gene">
                The Gene
              </a>
            </span>
            by Siddhartha Mukherjee.
          </p>
        </Fragment>
      </Row>
      <Row>
        <Fragment slot="key">Beliefs</Fragment>
        <Fragment slot="value">
          <p>Software is made for humans.</p>
          <p>All software is a tool.</p>
          <p>Good tools are simple and intuitive.</p>
        </Fragment>
      </Row>
      <Row>
        <Fragment slot="key">Work</Fragment>
        <Fragment slot="value">
          <p>
            <a href="https://tably.com">Tably</a>, 2021 &mdash; Present
          </p>
          <p>
            <a href="https://wipro.com">Wipro</a>, 2019 &mdash; 2021
          </p>
        </Fragment>
      </Row>
      <Row>
        <Fragment slot="key">University</Fragment>
        <Fragment slot="value">
          <p>
            Bachelors in Mechanical Engineering,
            <a href="https://www.unipune.ac.in">SPPU</a>, 2016 &mdash; 2019
          </p>
        </Fragment>
      </Row>
      <Row>
        <Fragment slot="key">Socials</Fragment>
        <Fragment slot="value">
          <p>
            <a href="https://www.github.com/whereistejas">Github</a>,
            <a href="https://www.goodreads.com/whereistejas">Goodreads</a>,
            <a href="https://www.are.na/whereistejas">Are.na</a>,
            <a href="https://www.x.com/whereistejas">X</a>,
            <a href="https://bsky.app/profile/whereistejas.bsky.social"
              >Bluesky</a
            >,
            <a href="https://hachyderm.io/@whereistejas">Mastodon</a>,
            <a href="https://www.instagram.com/whereistejas">Instagram</a>,
            <a href="https://www.linkedin.com/in/whereistejas">Linkedin</a>
          </p>
        </Fragment>
      </Row>
    </div>
  </Fragment>

  <Fragment slot="footer">
    {
      footers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>
</Page>
