---
import { Image, getImage } from "astro:assets";

import ExifReader from "exifreader";

import "../styles/carousel.css";

let images: Record<string, any>[] = await Astro.glob("../assets/*.jpg");

const slides = await Promise.all(
  images.map(async (image_path) => {
    const img = image_path.default;
    const path = img.fsPath;

    const exif = await ExifReader.load(path, { async: true });
    let caption = exif["title"].description;
    let image = (await getImage({ src: img, format: "jpg" })).options
      .src as ImageMetadata;

    return {
      image: image,
      caption: caption,
    };
  })
);
---

<div class="carousel">
  <div class="slides-wrapper">
    <div class="left-scroll"></div>
    <div class="right-scroll"></div>
    <div class="slides">
      {
        slides.map(({ image, caption }, idx) => (
          <div class="slide">
            <Image
              src={image}
              alt={caption}
              widths={[320, 640, image.width]}
              sizes={`(max-width: 400px) 320px, (max-width: 800px) 640px, ${image.width}px`}
            />
            <div class="caption">
              <span>{caption}</span>
              <span>
                {idx + 1}/{slides.length}
              </span>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div class="captions">
    {
      slides.map(({ image: _, caption }, idx) => (
        <div class="caption">
          <span>{caption}</span>
          <span>
            {idx + 1}/{slides.length}
          </span>
        </div>
      ))
    }
  </div>
</div>

<script>
  function modulo(number: number, mod: number) {
    let result = number % mod;
    if (result < 0) {
      result += mod;
    }
    return result;
  }

  let carousel = document.querySelector(".carousel") as HTMLDivElement;

  let currentSlide = 0;
  const numSlides = (document.querySelector(".slides") as HTMLDivElement)
    .children.length;

  let left = document.querySelector(".left-scroll");
  let right = document.querySelector(".right-scroll");
  if (left && right) {
    left.addEventListener("click", function (e) {
      e.preventDefault();
      currentSlide = modulo(currentSlide - 1, numSlides);
      carousel.style.setProperty("--current-slide", `${currentSlide}`);
    });
    right.addEventListener("click", function (e) {
      e.preventDefault();
      currentSlide = modulo(currentSlide + 1, numSlides);
      carousel.style.setProperty("--current-slide", `${currentSlide}`);
    });
  }
</script>
